@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>

<p>Testando novas Possibilidades</p>



<br />
<br />

@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{

    <fieldset>
        <legend>Informações de Usuario</legend>


        <div>
            @Html.LabelFor(x => x.PessoaId)
        </div>
        <div>
            @Html.EditorFor(x => x.PessoaId)
        </div>

        <div>
            @Html.LabelFor(x => x.Name)
        </div>
        <div>
            @Html.EditorFor(x => x.Name)
        </div>

        <div>
            @Html.LabelFor(x => x.Tipo)
        </div>
        <div>
            @Html.EditorFor(x => x.Tipo)
        </div>

        <p><input type="submit" value="Enviar" /></p>

    </fieldset>
}

