@model Introducao.Models.Pessoa


@{
    ViewBag.Title = "Lista";
}


<h2>Lista</h2>


<div>
    <b>@Html.LabelFor( x => x.PessoaId )</b>
</div>
<div>
    @Model.PessoaId
</div>

<div>
    <b>@Html.LabelFor(x => x.Name)</b>
</div>
<div>
    @Model.Name
</div>

<div>
    <b>@Html.LabelFor(x => x.Tipo)</b>
</div>
<div>
    @Model.Tipo
</div>

@Html.ActionLink("Voltar", "Index", "Home")

<!-- <a href="~/">Voltar</a> -->
